<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothes Shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="../../public/js/carousel.js"></script>
    <script src="https://kit.fontawesome.com/dff7dacd30.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <style>
        
        </style>
     
    
    <div class="container">
        <div class="header">
            <span class="logo"><a href="#"><img src="../../public/img/icon/logo.png"></a></span>
            <div class="header-right">
                <p id="contact"><a href="#">Contact: phananhnhat2@gmail.com</a></p>
                <div class="cart-items">
                    <ul>
                        <li>
                            <img width="80" height="90" src="">
                            <div class="item-detail">
                                <p class="item-price">234,000 đ <span>x 1</span></p>
                                <p class="item-name">Áo choàng nam nữ gì gì đó</p>
                            </div>
                            
                        </li>
                    </ul>
                </div>
                <i style="z-index:999" class="fas fa-cart-plus fa-lg  "></i>
                <div class="social-network" style="font-size: 18px;">
                    <a href="#"><i class="fas fa-cart-plus fa-lg  "></i></a>
                    <a href="#"><i class="fab fa-facebook-square fa-lg"></i></a>
                    <a href="#"><i class="fab fa-twitter-square fa-lg"></i></a>
                    <a href="#"><i class="fab fa-instagram-square fa-lg"></i></a>
                </div>
                <div class="search">
                    <form class="search-form" action="" method="">
                        <input type="text" id="search-box" placeholder="Tìm kiếm">
                        <button type="button" id="btn-search">Search</button>
                    </form>
                    <span id="btn-login"><a href="#">Đăng Nhập</a></span>
                    <span id="btn-register"><a href="#">Đăng Ký</a></span>
                </div>
            </div>
        </div>
        <!-- End navbar -->
        <div class="main">
            <div class="menu-slide">
                <div class="menu">
                    <ul class="menu-ul">
                        <li><a href="#">Quần áo nam</a></li><hr>
                        <li><a href="#">Quần áo nữ</a></li><hr>
                        <li><a href="#">Sale Off</a></li><hr>
                        <li><a href="#">Giày dép</a></li><hr>
                        <li><a href="#">Mũ</a></li><hr>
                        <li><a href="#">Áo khoác</a></li><hr>
                        <li><a href="#">Đồ cặp</a></li>
                    </ul> 
                </div>
                <div class="carousel">
                 
                    <div class="carousel__track-container">
                        <ul class="carousel__track">
                            <li class="carousel__slide current-slide">
                                <img src="../../public/img/poster/banner_slide.jpg" alt="">
                            </li>
                            <li class="carousel__slide">
                                <img src="../../public/img/poster/banner_slide.jpg" alt="">
                            </li>
                            <li class="carousel__slide">
                                <img src="../../public/img/poster/banner_slide.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="carousel__button carousel__button--left">
                        <i class="fas fa-angle-left fa-2x"></i>
                    </div>
                  <div class="carousel__button carousel__button--right">
                        <i class="fas fa-angle-right fa-2x"></i>
                  </div>
                  <div class="carousel__nav">
                    <button class="carousel__indicator current-slide"></button>
                    <button class="carousel__indicator"></button>
                    <button class="carousel__indicator"></button>
                  </div>
                </div>
            </div>
            <!-- End slide -->
            <div class="product1">
                <h2 class="title">Quần Áo Nam</h2>
                <hr class="line"></hr>
                <ul class="product-ul">
                    <li><a href="#">
                        <img class="product-img" width="180" height="200" src="../../public/img/thumbnail/sp1.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                        </a>
                    </li>
                    <li><img class="product-img" width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img class="product-img" width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img class="product-img" width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                   
                    <li><img class="product-img" width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img class="product-img" width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img class="product-img" width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img class="product-img" width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                </ul>
                <span class="btn-xemthem">Xem thêm</span>
            </div>
            <div class="product2">
                <h2 class="title">Quần Áo Nam</h2>
                <hr class="line"></hr>
                <ul class="product-ul">
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                   
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                    <li><img width="180" height="200" src="../../public/img/thumbnail/chicago.jpg">
                        <p class="product-name">Áo dài tay</p>
                        <p class="product-prize">234.999 đ</p>
                    </li>
                </ul>
                <span class="btn-xemthem">Xem thêm</span>
            </div>
        
            <!-- Page 1 -->

            <div class="footer">

            </div>
        </div>

    </div>
   
</body>
</html>